body {
    background-color: #eee;
}

.site {
    padding: 2em;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
}

@media (width > 960px) {
    .site {
        margin-block: 2em;
    }
}

